/Silas_Personal_Files/ML & DL/env4test/
# General_DL/Udemy_BERT_intro/
General_DL/Udemy_BERT_intro/NLP_with_Bert/
General_DL/Deep_Learning_on_GPU/
General_DL/Deep_Learning_with_TensorFlow/
Udemy_NLP_with_DL/env4test/

summary_logs/
*yml

*.vscode